@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');

body {
  margin-top: 20px;
  margin-left: 20px;
}
ul {
  display: flex;
  gap: 20px;
}
a {
  font-size: 20px;
  transition: 500ms;
}
a:hover {
  color: tomato;
  text-decoration: underline;
  transform: scale(1.1);
}
